@use './variables' as *;

.contactForm {
    width: 100%;
    margin: auto;   

    .formSmall,
    .formBody {
        all: unset;
    }

    .formControl {
        margin-bottom: 50px;
        .formItem {
            margin-bottom: 10px;
            width: 90%;
            padding-right: 5%;
        }
    }

    ::placeholder {
        color: white;
        opacity: 1;
    }

    .formSmall {
        border-bottom: 2px solid $highlightColor;
        padding: 20px;
        width: 100%;
    }

    .formBody {
        width: 100%;
        height: 200px;
        border: 2px solid $highlightColor;
        color: white;
        vertical-align: top;
    }

    textarea {
        resize: none;
        width: 100%;
        border: 2px solid $highlightColor;
        height: 200px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding: 20px;
        margin-bottom: 30px;
    }

    .button {
        width: 100%;
    }
}

@media (min-width: 1000px) {

    .contactForm {
        .formControl {
            display: flex;
            justify-content: space-between;
            
            .formItem {
                display: inline-block;
                width: 45%;
                margin-bottom: 1rem;
            }
        }
    }
}