header .wrapper {    
    height: 60vh;   
    width: 100vw;
    .title {
        padding: 50px;
    }
    .headerImg{
        position: absolute;
        width: 80vw;
        right: 0;
        img {
            width: 100%;
        }
    }
}

@media (min-width: 1000px) {
    header .wrapper{
        .headerImg {
            top: 10vw;
            width: 50%;
            max-width: 700px;
            img {
                width: 100%;
            }
        }
        flex-direction: row; 
        .title{
            padding: 50px 0 0 100px;
        }   
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    header .wrapper {
        .headerImg{
            top: clamp(25%, 15vw, 50%);
        }
    }
}