@use './variables' as *;

.info {
    padding: 200px 0 150px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
            display: flex;
            width: 80%;
            margin: 20px;
        }
    }
}

.infoIconContainer {
    background-color: $highlightColor;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .infoIcons {
        width: 1rem;
        height: 1rem;
    }
}

.infoContent {
    width: 80%;
    h2 {
        color: $textColor;
        margin-bottom: 15px;
    }
}

@media (min-width: 1000px) {
    .info ul {

        li{
            width: 40%;
            gap: 5%;
        } 
        h2 {
            line-height: 2.813rem;
        }
    } 

    .infoIconContainer {
        width: 4rem;
        height: 4rem;
        .infoIcons {
            width: 2rem;
            height: 2rem;
        }
    }
}