@use './variables' as *;



.navbar {
    width: 100%;
}

.navbarSm{
    display: block;
}

.navbarLg{
    display: none;
}

/* codepen (https://codepen.io/alvarotrigo/pen/wvrzPWL) start */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    font-family: $primaryFont;
    text-decoration: none;
    text-transform: uppercase;
    color: $textColor;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
    z-index: 5;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 3rem;
    right: 3rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $textColor;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;

    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0%);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

/* codepen end */

@media (min-width: 1000px) {
    nav{
        ul {
            list-style: none;
            display: flex;
            gap: 40px;
            li {
                padding: 10px;
                border-bottom: 2px solid rgba(0,0,0,0);
                &:hover{
                    border-bottom: 2px solid $highlightColor;
                }
            }
            a {
                text-decoration: none;
            }
            span {
                width: fit-content;
            }
        }
    }

    .navbarSm{
        display: none;
    }
    
    .navbarLg{
        display: flex;
    }
}