.promotion .wrapper{
    padding: 150px 50px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-bottom: 30px;
    }
    h2 {
        text-align: center;
    }
    span {
        display: block;
    }
}

@media (min-width: 1000px) {
    .promotion .wrapper {
        h2 {
            text-align: left;
        }
        span {
            display: inline;
        }
    }
}