@use './variables' as *;

@font-face {
    font-family: "Josefin Sans";
    src: url('../JosefinSans/josefin-sans-latin-400-normal.woff'),
        url('../fonts/JosefinSans/JosefinSans-Regular.ttf'),
        url('../JosefinSans/josefin-sans-latin-400-normal.woff2');
    font-weight: normal;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('../fonts/JosefinSans/JosefinSans-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url('../fonts/Barlow/barlow-latin-400-normal.woff'),
        url('../fonts/Barlow/Barlow-Regular.ttf'),
        url('../fonts/Barlow/barlow-latin-400-normal.woff2');
    font-weight: normal;
}

.primary {
    color: $textColor;
}

.secondary {
    color: $highlightColor;
}

h1, h2, h5, h3, .button {
    font-family: $primaryFont;
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    font-size: clamp(3rem, 4.45vw, 4.375rem);
    color: $textColor;
    display: flex;
    flex-direction: column;

    span {
        background-color: $textColor;
        color: $black;
        padding:  15px 10px 0;
        margin-bottom: 15px;
        width: fit-content;
    }
}

h2 {
    margin: 0;
    font-size: clamp(2rem, 8vw, 2.813rem);
    line-height: 3rem;
}

h3 {
    font-size: clamp(1.25rem, 2vw, 2rem);
}

h5{
    font-size:2.25rem;
    line-height: 3rem;
    text-align: center;
}

nav a {
    font-family: $primaryFont;
    color: $textColor;
    font-size: 1.25rem;
}

p {
    font-family: $secondaryFont;
    font-size: 1.25rem;
    line-height: 1.813rem;
    letter-spacing: 0.063rem;
    color: $textColor;
    margin: 0;
}

.button {
    font-size: 1.25rem;
    text-align: center;
    line-height: 2.6rem;
    text-decoration: none;
    border: none;
}

.btnLight{
    color: $black;
    background-color: $highlightColor;
    padding: 5px 15px;
}

.btnDark {
    background-color: $black;
    color: $textColor;    
    padding: 10px 20px;
}

@media (min-width: 1000px) {
    h2 {
        line-height: 2.813rem;
        margin-bottom: 0.5rem;
    }
    h5{
        font-size: 1.563rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    h2 {
        font-size: 2.125rem;
    }
    p {
        font-size: 1.125rem;
    }
}