@use './partials/setup';
@use './partials/typography';
@use './partials/baseStyles';
@use './partials/header';
@use './partials/nav';
@use './partials/infoSection';
@use './partials/articleSection';
@use './partials/promotionSection';
@use './partials/natureSection';
@use './partials/gallerySection';
@use './partials/footer';
@use './partials/variables' as *;

header {
    background-image: url('../assets/home-header.jpg');
}

.bannerImage {
    background-image: url('../assets/banner.jpg');
    background-position: center;
    width: 100%;
    height: 50vh;
}