@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../JosefinSans/josefin-sans-latin-400-normal.woff"), url("../fonts/JosefinSans/JosefinSans-Regular.ttf"), url("../JosefinSans/josefin-sans-latin-400-normal.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans/JosefinSans-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/barlow-latin-400-normal.woff"), url("../fonts/Barlow/Barlow-Regular.ttf"), url("../fonts/Barlow/barlow-latin-400-normal.woff2");
  font-weight: normal;
}
h1 {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: clamp(3rem, 4.45vw, 4.375rem);
  color: #FFFFFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
h1 span {
  background-color: #FFFFFF;
  color: #0f0f0f;
  padding: 15px 10px 0;
  margin-bottom: 15px;
}

h2 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(2rem, 8vw, 2.813rem);
  line-height: 3rem;
}

.headPri {
  color: #FFFFFF;
}

.headSec {
  color: #FFD300;
}

nav a {
  font-family: "Josefin Sans";
  color: #FFFFFF;
  font-size: 1.25rem;
}

p {
  font-family: "Barlow";
  font-size: 1.25rem;
  line-height: 1.813rem;
  letter-spacing: 0.063rem;
  color: #FFFFFF;
  margin: 0;
}

.button {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-decoration: none;
}

.btnLight {
  color: #0f0f0f;
  background-color: #FFD300;
  padding: 5px 15px;
}

.btnDark {
  background-color: #0f0f0f;
  color: #FFFFFF;
  padding: 10px 20px;
}

@media (min-width: 1000px) {
  h2 {
    line-height: 6.238rem;
  }
}
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background: #0f0f0f;
}

.primaryBG {
  background: #171B0E;
}

.secondaryBG {
  background: #2B331B;
}

ul {
  margin: 0;
}

header .wrapper {
  padding: 50px;
  height: 60vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
header .wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
header .wrapper .left ul {
  padding: 0;
}
header .wrapper .right {
  position: relative;
  bottom: -50px;
  right: -33px;
}
header .wrapper .right img {
  width: 100%;
}

@media (min-width: 1000px) {
  header .wrapper {
    padding: 50px 0 0 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .wrapper .left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .wrapper .left ul {
    padding: 0;
  }
  header .wrapper .right {
    width: 50%;
  }
  header .wrapper .right img {
    position: relative;
    bottom: -100px;
    width: 100%;
  }
}
nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
nav ul li {
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
nav ul li:hover {
  border-bottom: 2px solid #FFD300;
}
nav ul a {
  text-decoration: none;
}

.info {
  padding: 200px 0 150px;
}
.info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 20px;
  gap: 30px;
}
.info ul li h2 {
  text-align: center;
}

.infoIconContainer {
  background-color: #FFD300;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.infoIconContainer .infoIcons {
  width: 4.5rem;
  height: 4.5rem;
}

.infoContent h2 {
  color: #FFFFFF;
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .info ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 40%;
    gap: 5%;
  }
  .info ul li h2 {
    text-align: left;
  }
  .info ul h2 {
    line-height: 2.813rem;
  }
  .infoIconContainer {
    width: 4rem;
    height: 4rem;
  }
  .infoIconContainer .infoIcons {
    width: 2rem;
    height: 2rem;
  }
}
.articleSection {
  padding: 100px 0 50px;
}

.articleContainerOne,
.articleContainerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
.articleContainerOne .articleContent,
.articleContainerTwo .articleContent {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articleContainerOne .articleContent p,
.articleContainerTwo .articleContent p {
  margin-bottom: 30px;
}
.articleContainerOne .articleContent a,
.articleContainerTwo .articleContent a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.articleImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articleImage img {
  width: 80%;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}

@media (min-width: 1000px) {
  .articleSection {
    padding: 0;
  }
  .articleContent,
.articleImage {
    width: 50%;
  }
  .articleImage img {
    width: 100%;
    max-width: 700px;
    position: relative;
  }
  .articleContainerOne {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articleContainerOne .articleImage {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .articleContainerOne .articleImage .artImgOne {
    top: -50px;
  }
  .articleContainerTwo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .articleContainerTwo .articleContent {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .articleContainerTwo p {
    text-align: right;
  }
  .articleContainerTwo .articleImage {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .articleContainerTwo .articleImage .artImgTwo {
    bottom: -50px;
    -webkit-box-shadow: -20px 20px #FFD300;
            box-shadow: -20px 20px #FFD300;
    float: right;
  }
}
.promotion .wrapper {
  padding: 150px 50px;
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion .wrapper p {
  margin-bottom: 30px;
}
.promotion .wrapper h2 {
  text-align: center;
}
.promotion .wrapper span {
  display: block;
}

@media (min-width: 1000px) {
  .promotion .wrapper h2 {
    text-align: left;
  }
  .promotion .wrapper span {
    display: inline;
  }
}
.nature .wrapper {
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.nature .wrapper .natureImage {
  width: 100%;
  max-width: 50vw;
  margin-bottom: 50px;
}
.nature .wrapper .natureImage img {
  width: 100%;
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
}
.nature .wrapper .natureContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 30px;
}
.nature .wrapper .natureContent h2 {
  line-height: 2.813rem;
}
.nature .wrapper .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1000px) {
  .nature .wrapper {
    padding: 150px 150px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 50px;
  }
  .natureImage {
    width: 33%;
    margin-bottom: 0;
  }
  .natureImage img {
    width: 40%;
    max-width: 400px;
  }
}
.gallery .wrapper {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 30px;
}
.gallery .wrapper .galleryImage {
  width: 50%;
}
.gallery .wrapper .galleryImage img {
  width: 100%;
}
.gallery .wrapper .gImg3 {
  display: none;
}

@media (min-width: 1000px) {
  .gallery .wrapper {
    padding: 100px;
  }
  .gallery .wrapper .galleryImage {
    width: 33%;
  }
  .gallery .wrapper .gImg3 {
    display: block;
  }
}
footer {
  padding: 10px;
  text-align: center;
}

header {
  background-image: url("../assets/home-header.jpg");
}

.bannerImage {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  width: 100%;
  height: 50vh;
}