@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans/josefin-sans-latin-400-normal.woff"), url("../fonts/JosefinSans/JosefinSans-Regular.ttf"), url("../fonts/JosefinSans/josefin-sans-latin-400-normal.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans/JosefinSans-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/barlow-latin-400-normal.woff"), url("../fonts/Barlow/Barlow-Regular.ttf"), url("../fonts/Barlow/barlow-latin-400-normal.woff2");
  font-weight: normal;
}
.primary {
  color: #FFFFFF;
}

.secondary {
  color: #FFD300;
}

h1, h2, h5, h3, .button {
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  font-size: clamp(2.5rem, 6vw, 5rem);
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
h1 span {
  background-color: #FFFFFF;
  color: #0f0f0f;
  padding: 15px 10px 0;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h2 {
  margin: 0;
  font-size: clamp(2rem, 8vw, 2.813rem);
  line-height: 3rem;
}

h3 {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

h5 {
  font-size: 2.25rem;
  line-height: 3rem;
  text-align: center;
}

nav a {
  font-family: "Josefin Sans";
  color: #FFFFFF;
  font-size: 1.25rem;
}

p {
  font-family: "Barlow";
  font-size: 1.25rem;
  line-height: 1.813rem;
  letter-spacing: 0.063rem;
  color: #FFFFFF;
  margin: 0;
}

.button {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.6rem;
  text-decoration: none;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btnLight {
  color: #0f0f0f;
  background-color: #FFD300;
  padding: 5px 15px;
}
.btnLight:hover {
  background-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnDark {
  background-color: #0f0f0f;
  color: #FFFFFF;
  padding: 10px 20px;
}
.btnDark:hover {
  background-color: #FFD300;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 1000px) {
  h2 {
    line-height: 2.813rem;
    margin-bottom: 0.5rem;
  }
  h5 {
    font-size: 1.563rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  h2 {
    font-size: 2.125rem;
  }
  p {
    font-size: 1.125rem;
  }
}
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background: #0f0f0f;
}

ul {
  margin: 0;
}

.primaryBG {
  background: #171B0E;
}

.secondaryBG {
  background: #2B331B;
}

header .wrapper {
  height: 50vw;
  min-height: 500px;
}
header .wrapper .title {
  padding: 5vw;
}
header .wrapper .headerImg {
  position: absolute;
  top: 300px;
  width: 80vw;
  max-width: 500px;
  right: 0;
}
header .wrapper .headerImg img {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 600px) {
  header .wrapper {
    height: 50vh;
  }
  header .wrapper .headerImg {
    max-width: 400px;
  }
}
@media (min-width: 1000px) {
  header .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .wrapper .headerImg {
    width: 50%;
    max-width: 100%;
  }
  header .wrapper .headerImg img {
    width: 100%;
  }
  header .wrapper .title {
    padding: 50px 0 0 100px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  header .wrapper .headerImg {
    top: clamp(25%, 15vw, 50%);
  }
}
.navbar {
  width: 100%;
}

.navbarSm {
  display: block;
}

.navbarLg {
  display: none;
}

/* codepen (https://codepen.io/alvarotrigo/pen/wvrzPWL) start */
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  font-family: "Josefin Sans";
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  z-index: 5;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 3rem;
  right: 3rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #FFFFFF;
}

.nav-container .hamburger-lines .line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.navbar .menu-items {
  font-family: "Josefin Sans";
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 2000px rgb(0, 0, 0);
          box-shadow: inset 0 0 2000px rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -40px;
  line-height: 3rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

/* codepen end */
@media (min-width: 1000px) {
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  nav ul li {
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }
  nav ul li:hover {
    border-bottom: 2px solid #FFD300;
  }
  nav ul a {
    text-decoration: none;
  }
  nav ul span {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbarSm {
    display: none;
  }
  .navbarLg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.info ul {
  padding-bottom: 50px;
  padding-top: 300px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 20px auto;
  gap: 30px;
}
.info ul li h2 {
  text-align: center;
}

.infoIconContainer {
  background-color: #FFD300;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.infoIconContainer .infoIcons {
  width: 4.5rem;
  height: 4.5rem;
}

.infoContent h2 {
  color: #FFFFFF;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .info ul {
    padding-top: 175px;
  }
}
@media (min-width: 1000px) {
  .info ul {
    padding-bottom: 100px;
    padding-top: 175px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 40%;
    gap: 5%;
  }
  .info ul li:hover .infoIconContainer {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .info ul li h2 {
    text-align: left;
  }
  .info ul h2 {
    line-height: 2.813rem;
  }
  .infoIconContainer {
    width: 4rem;
    height: 4rem;
  }
  .infoIconContainer .infoIcons {
    width: 2rem;
    height: 2rem;
  }
}
.articleSection {
  padding: 100px 0 50px;
}

.articleContainerOne,
.articleContainerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
.articleContainerOne .articleContent,
.articleContainerTwo .articleContent {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.articleContainerOne .articleContent h2,
.articleContainerTwo .articleContent h2 {
  text-align: center;
}
.articleContainerOne .articleContent p,
.articleContainerTwo .articleContent p {
  margin-bottom: 1rem;
}
.articleContainerOne .articleContent a,
.articleContainerTwo .articleContent a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.articleImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articleImage img {
  position: relative;
  left: -10px;
  width: 80%;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}

@media (min-width: 1000px) {
  .articleSection {
    padding: 0;
  }
  .articleContent,
.articleImage {
    width: 50%;
  }
  .articleImage img {
    position: static;
    left: 0;
    width: 100%;
    max-width: 700px;
    position: relative;
  }
  .articleContainerOne {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articleContainerOne .articleContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .articleContainerOne .articleImage {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .articleContainerOne .articleImage .artImgOne {
    top: -50px;
  }
  .articleContainerTwo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .articleContainerTwo h2 {
    padding-top: 4rem;
  }
  .articleContainerTwo .articleContent {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .articleContainerTwo p {
    text-align: right;
  }
  .articleContainerTwo .articleImage {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .articleContainerTwo .articleImage .artImgTwo {
    bottom: -50px;
    -webkit-box-shadow: -20px 20px #FFD300;
            box-shadow: -20px 20px #FFD300;
    float: right;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .articleImage img {
    position: static;
  }
  .articleContainerOne {
    padding: 3rem;
  }
  .articleContainerTwo h2 {
    padding-top: 0;
  }
}
.promotion .wrapper {
  padding: 100px 50px;
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.promotion .wrapper p {
  margin-bottom: 1rem;
}
.promotion .wrapper h2 {
  text-align: center;
}
.promotion .wrapper span {
  display: block;
}

@media (min-width: 1000px) {
  .promotion .wrapper {
    padding-top: 150px;
  }
  .promotion .wrapper h2 {
    text-align: left;
  }
  .promotion .wrapper span {
    display: inline;
  }
}
.nature .wrapper {
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.nature .wrapper .natureImage {
  width: 100%;
  margin-bottom: 50px;
}
.nature .wrapper .natureImage img {
  position: relative;
  right: -7.5px;
  width: 100%;
  max-height: 300px;
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
  -o-object-fit: cover;
     object-fit: cover;
}
.nature .wrapper .natureContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}
.nature .wrapper .natureContent h2 {
  text-align: center;
}
.nature .wrapper .natureContent p {
  margin-bottom: 1rem;
}
.nature .wrapper .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 600px) and (max-width: 999px) {
  .nature .wrapper .natureImage {
    max-width: 60vw;
  }
}
@media (min-width: 1000px) {
  .nature .wrapper {
    padding: 150px 150px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 50px;
  }
  .nature .wrapper .natureImage {
    width: 50%;
    margin-bottom: 0;
  }
  .nature .wrapper .natureImage img {
    max-width: 400px;
    max-height: 100%;
  }
  .nature .wrapper .natureContent {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.gallery .wrapper {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 30px;
}
.gallery .wrapper .galleryImage {
  width: 50%;
}
.gallery .wrapper .galleryImage img {
  width: 100%;
}
.gallery .wrapper .gImg3 {
  display: none;
}

@media (min-width: 1000px) {
  .gallery .wrapper {
    padding: 100px;
  }
  .gallery .wrapper .galleryImage {
    width: 33%;
  }
  .gallery .wrapper .gImg3 {
    display: block;
  }
}
footer {
  padding: 10px;
  text-align: center;
}

header {
  background-image: url("../assets/home-header.jpg");
}

.bannerImage {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  width: 100%;
  height: 50vh;
}

.headerImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}